<h1>Editar usuario</h1>

<div>
  <mat-card style="margin-top: 10px">
    <form [formGroup]="form" (ngSubmit)="editarUsuario()">
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input minlength="3" matInput [formControlName]="'Nombre'" >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="5">
          <img src="./assets/img/programmer.png" style="height: 200px">
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input minlength="3" matInput [formControlName]="'Apellidos'">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">

          <mat-form-field appearance="fill">
            <mat-label>Edad</mat-label>
            <input type="number" min="0" max="125" matInput [formControlName]="'Edad'">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field appearance="fill">
            <mat-label>Dni</mat-label>
            <input type="text" minlength="9" maxlength="9" matInput [formControlName]="'Dni'" >
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field appearance="fill">
            <mat-label>Cumpleaños</mat-label>
            <input type="date" matInput [formControlName]="'Cumpleanyos'">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field appearance="fill">
            <mat-label>Color favorito</mat-label>
            <input minlength="3" matInput [formControlName]="'ColorFavorito'">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field appearance="fill">
            <mat-label>Sexo</mat-label>
            <select matNativeControl required [formControlName]="'Genero'">
              <option value="selecciona">Selecciona una opción</option>
              <option value="hombre">Hombre</option>
              <option value="mujer">Mujer</option>
              <option value="otro">Otro</option>
              <option value="No especificado">No especificado</option>
            </select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button mat-raised-button>Volver</button>
          <button type="submit" mat-raised-button color="primary">Aceptar</button>
        </mat-grid-tile>

      </mat-grid-list>

      <br>
      <br>
    </form>

  </mat-card>

</div>


